doctype html
html
  head
    meta(charset='utf-8')
    title Index page
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css', media='screen', title='no title', charset='utf-8')
    //link(rel='stylesheet', href='css/base.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js')
  body(ng-app='travel2gether')
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Travel2Gether
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Your Trips
            li
              a(href='#') Add a Trip
            li
              a(href='#') Profile
        // /.navbar-collapse
      // /.container
    script(type='text/babel', src='js/app.js')
    script(type='text/babel')
