@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body {
  padding-top: 50px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.trip-header {
  text-align: center;
}
.text-white {
  color: #fff;
}
.float-right {
  float: right;
}
.profile-imgs {
  text-align: center;
}
.profile-imgs img {
  display: block;
  margin: 5px auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  width: 30px;
  height: 30px;
}
.tri-column {
  text-align: center;
}
.tri-column .col-xs-4 {
  border: 1px solid #252525;
}
.tri-column h3 {
  font-size: 8pt;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tri-column p {
  font-size: 14pt;
  color: #ff8162;
  font-weight: 400;
}
.timeline {
  padding: 10px;
}
.timeline .comment {
  padding: 5%;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.fixed-bottom a {
  color: #fff;
}
.fixed-bottom .left-fixed {
  text-align: center;
  background-color: #252525;
  padding: 5%;
}
.fixed-bottom .right-fixed {
  text-align: center;
  background-color: #ff8162;
  padding: 5%;
}
.bubble {
  position: relative;
  width: 250px;
  height: 100%;
  padding: 0px;
  background: #2c3e50;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.bubble-person {
  line-height: 1px;
}
.bubble-text {
  padding: 5%;
}
