<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../less/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Travel2Gether</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Your Trips</a>
                    </li>
                    <li>
                        <a href="#">Add a Trip</a>
                    </li>

                    <li>
                        <a href="#">Profile</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->

<!-- FORM WRAPPER --> <div class="form-wrapper">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h3>Search for Weekends Between:</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h3>Target Price</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid no-padding">
        <div class="row">

                <div class="col-xs-6 photo-grid img-check" style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;">
                <div class="category">
                    <label>
                        
                        <h3>Beach</h3>
                        </div>
                        <input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
                    </label>
                </div>

                 <div class="col-xs-6 photo-grid img-check" style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;">
                <div class="category">
                    <label>
                        
                        <h3>Skiing</h3>
                        </div>
                        <input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
                    </label>
                </div>

                  <div class="col-xs-6 photo-grid img-check" style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;">
                <div class="category">
                    <label>
                        
                        <h3>Beach</h3>
                        </div>
                        <input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
                    </label>
                </div>

                 <div class="col-xs-6 photo-grid img-check" style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;">
                <div class="category">
                    <label>
                        
                        <h3>Skiing</h3>
                        </div>
                        <input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off">
                    </label>
                </div>

                
             
        
        </div>
    </div> <!-- END CATEGORY SELECTION -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 tags">
                <h3>Add/Edit Choices</h3>
               <span>Test</span> <span>Testingggg</span> <span>Testingggg</span> <span>Testingggg</span>
            </div>
        </div>
    </div>

     <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Invite Others on Your Trip</h3>
                <label>Friends' Numbers</label><input type=""></input>

                    <ul>
                        <li>608-774-4486</li>
                        
                    </ul>
            </div>
        </div>
    </div>


</div> <!-- END FORM WRAPPER -->
    

    <!-- jQuery Version 1.11.1 -->
    <script   src="http://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function(e){
            $(".img-check").click(function(){
                $(this).toggleClass("check");
            });
    });
    </script>


</body>

</html>