<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../less/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Travel2Gether</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Your Trips</a>
                    </li>
                    <li>
                        <a href="#">Add a Trip</a>
                    </li>

                    <li>
                        <a href="#">Profile</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container-fluid text-white trip-header" style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-transform: uppercase;">Trip Name</h1>
            </div>
            <div class="col-md-6 col-md-offset-3 profile-imgs float-right">
                <p>On the trip:</p>
                <img class="float-right" src="http://www.fillmurray.com/g/200/200">
                <img class="float-right" src="http://www.fillmurray.com/g/200/200">
                <img class="float-right" src="http://www.fillmurray.com/g/200/200">
                <img class="float-right" src="http://www.fillmurray.com/g/200/200">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row tri-column">
            <div class="col-xs-4">
                <h3># of Cities</h3>
                <p>21</p>
            </div>
            <div class="col-xs-4">
                <h3>Target Price:</h3>
                <p>$400</p>
            </div>
            <div class="col-xs-4">
                <h3># of People:</h3>
                <p>4</p>
            </div>
            <div class="col-xs-6">
                <h3>Begin Trip Search:</h3>
                <p>May 21st</p>
            </div>
            <div class="col-xs-6">
                <h3>End Trip Search:</h3>
                <p>June 15th</p>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row timeline">
            <div class="col-xs-2">
                <div class="profile-imgs" style="padding-top: 10px;">
                     <img class="float-right" src="http://www.fillmurray.com/g/200/200">
                </div>
            </div>
            <div class="col-xs-10">
                <p class="bubble-person"><i>Jessica says:</i></p>
                <div class="bubble">
                    <div class="bubble-text">
                        <p>Is everyone ok with $350 a person?</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row timeline">
            <div class="col-xs-2">
                <div class="profile-imgs" style="padding-top: 10px;">
                     <img class="float-right" src="http://www.fillmurray.com/g/200/200">
                </div>
            </div>
            <div class="col-xs-10">
                <p class="bubble-person"><i>Jessica says:</i></p>
                <div class="bubble">
                    <div class="bubble-text">
                        <p>No! I can't pay that much</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row timeline">
            <div class="col-xs-2">
                <div class="profile-imgs" style="padding-top: 10px;">
                     <img class="float-right" src="http://www.fillmurray.com/g/200/200">
                </div>
            </div>
            <div class="col-xs-10">
                <p class="bubble-person"><i>Jessica says:</i></p>
                <div class="bubble">
                    <div class="bubble-text">
                        <p>No! I can't pay that much</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row timeline">
            <div class="col-xs-2">
                <div class="profile-imgs" style="padding-top: 10px;">
                     <img class="float-right" src="http://www.fillmurray.com/g/200/200">
                </div>
            </div>
            <div class="col-xs-10">
                <p class="bubble-person"><i>Jessica says:</i></p>
                <div class="bubble">
                    <div class="bubble-text">
                        <p>No! I can't pay that much</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid fixed-bottom">
        <div class="col-xs-6 left-fixed">
         <a href="#">TEST</a>
       </div>
       <div class="col-xs-6 right-fixed">
         <a href="#">TEST</a>
       </div>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script   src="http://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</body>

</html>