// FORM WRAPPER
.form-wrapper
  .container-fluid
    .row
      .col-xs-8.col-xs-offset-2.text-center
        h3 Search for Weekends Between:
  .container-fluid
    .row
      .col-xs-8.col-xs-offset-2.text-center
        h3 Target Price
  .container-fluid.no-padding
    .row
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Beach
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Skiing
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Beach
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Skiing
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
  // END CATEGORY SELECTION
  .container-fluid
    .row
      .col-md-12.tags
        h3 Add/Edit Choices
        span Test
        span Testingggg
        span Testingggg
        span Testingggg
  .container-fluid
    .row
      .col-xs-12.text-center
        h3 Invite Others on Your Trip
        label Friends' Numbers
        input(type='')
        ul
          li 608-774-4486
// END FORM WRAPPER
