.form-wrapper(ng-controller='AddTripCtrl')
  .container-fluid(ng-controller='DatePickerCtrl')
    .row
      .col-xs-8.col-xs-offset-2.text-center
        h3 Search for Weekends Between:
  .container-fluid(ng-controller='TargetPriceCtrl')
    .row
      .col-xs-8.col-xs-offset-2.text-center
        h3 Target Price
  .container-fluid.no-padding(ng-controller='EditCategoriesCtrl')
    .row.text-center
      h3 Select Where You Would Like to Visit
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Beach
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://negativespace.co/wp-content/uploads/2015/04/negativespace-3.jpg') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Museums
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('https://picjumbo.imgix.net/HNCK1622-1.jpg?q=40&w=1650&sharp=30') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Romantic
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://40.media.tumblr.com/b9dfc89122f472ce58b306da9cc55675/tumblr_nnu7cbiZhf1teue7jo1_1280.jpg') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Camping
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('http://skitterphoto.com/wp-content/uploads/2014/05/Alaska-mountain-free-license-CC02-980x735.jpg') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Mountain
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
      .col-xs-6.photo-grid.img-check(style="background:linear-gradient(to bottom, rgba(0,0,0,0.55) ,rgba(0,0,0,0.55) , rgba(0,0,0,0.55)), url('https://picjumbo.imgix.net/IMG_8407.jpg?q=40&w=1650&sharp=30') no-repeat center center !important; background-size:cover !important;")
        .category
          label
            h3 Party
        input#item4.hidden(type='checkbox', name='chk1', value='val1', autocomplete='off')
  // END CATEGORY SELECTION
  .container-fluid
    .row
      .col-md-12.tags
        h3 Add/Edit Choices
        a.btn-travel.btn-dark.close-thik(href='#', target='new_blank') San Francisco
        a.btn-travel.btn-dark.close-thik(href='#', target='new_blank') Seattle
        a.btn-travel.btn-dark.close-thik(href='#', target='new_blank') Miami
        a.btn-travel.btn-dark.close-thik(href='#', target='new_blank') Los Angeles
  .container-fluid
    .row.form-padding
      .col-xs-12.text-center
        h3 Invite Others on Your Trip
        input(type='text', placeholder='+16087744486')
        a.btn-travel-small.btn-dark(href='#') Add Friend
        .tags
          a.btn-travel.btn-dark.close-thik(href='#', target='new_blank') +1608774486
          a.btn-travel.btn-dark.close-thik(href='#', target='new_blank') +14440003333
  .container-fluid
    .row.form-padding
      .col-xs-12.text-center
        a.btn-travel.btn-orange.btn-block(href='#') Create Trip
// END FORM WRAPPER
