// Page Content
.container-fluid.full-button
  .add-trip
    a(href='#') Add Trip +
.container-fluid
  .col-md-6.col-md-offset-3
    .card
      .card-image
        img.img-responsive(src='http://brainandstorm.com/wp-content/uploads/Beach-By-Fiesta-Americana-Hotel-Main.jpg')
        span.card-title TRIP NAME
      .card-content
        p Monitoring deals for under $300 to 21 cities for you and 3 friends
      .card-action
        a.btn-travel.btn-dark(href='#', target='new_blank') View Trip
