.controller-div(ng-controller="ViewTripsCtrl")
  // Page Content
  .container-fluid.full-button
    .add-trip
      a(href='./#!/') Add Trip +
  .container-fluid(ng-repeat="trip in searchResults")
    .col-md-6.col-md-offset-3
      .card
        .card-image
          img.img-responsive(src='http://brainandstorm.com/wp-content/uploads/Beach-By-Fiesta-Americana-Hotel-Main.jpg')
          span.card-title {{trip.name}}
        .card-content
          p Monitoring deals for under ${{trip.maxPrice/(trip.users.length)}} to {{trip.city.length}} cities for you and {{trip.users.length - 1}} friend(s)
        .card-action
          a.btn-travel.btn-dark(href='#', target='new_blank') View Trip
