doctype html
html
  head
    meta(charset='utf-8')
    title Index page
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css', media='screen', title='no title', charset='utf-8')
    link(rel="stylesheet", href="../../../less/styles.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.13.0/rzslider.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.13.0/rzslider.min.js")
    // ui bootstrap without templates
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.js")
    // ui bootstrap with templates
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js")
    script(src="../js/app.js")
  body(ng-app='TravelTogether')
    // TOP BAR
    .container-fluid.nav-icon
      .row
        .col-md-6
          h1 Travel2Gether
        .col-md-3
          h3 Your trips
        .col-md-3
          h3 Add a Trip
    div(ng-view)
