doctype html
html
  head
    meta(charset='utf-8')
    title Index page
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css', media='screen', title='no title', charset='utf-8')
    link(rel="stylesheet", href="../../../less/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js")
    // ui bootstrap without templates
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.js")
    // ui bootstrap with templates
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js")
    script(src="../js/app.js")
  body(ng-app='TravelTogether')
    nav.navbar.navbar-inverse.navbar-fixed-top.navbar-inner
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', ng-click='isCollapsed = !isCollapsed')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Travel2Gether
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Your Trips
            li
              a(href='#') Add a Trip
            li
              a(href='#') Profile
    div(ng-view)
